---
import Container from "~/components/container.astro";
import Layout from "~/layout/index.astro";
---

<Layout title="David Murdoch Consulting">
  <Container>
    <h1>David Murdoch Consulting</h1>
  </Container>
</Layout>
