---
import Container from "~/components/container.astro";
import Hero from "~/components/hero.astro";
import Layout from "~/layout/index.astro";
---

<Layout title="David Murdoch Consulting">
  <Container>
    <h1
      class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-blue-600 sm:text-7xl"
    >
      David Murdoch Consulting
    </h1>
    <Hero />
  </Container>
</Layout>
