---
import Container from "./container.astro";
---

<section
  id="about"
  class="-mt-px min-h-dvh justify-center bg-blue-600 pb-28 pt-20 sm:py-32"
>
  <Container>
    <div
      class="prose prose-blue prose-invert max-w-2xl lg:prose-xl md:mx-auto xl:max-w-none"
    >
      <h2 class="text-center font-display">About</h2>

      <p>
        Hi, I'm a passionate and dedicated web developer with a focus on
        creating tailored, high-quality websites for individuals, small
        businesses, and startups. With almost a decade of experience in the
        industry, I specialize in front-end and back-end development, ensuring
        that each project I undertake is not only visually appealing but also
        fully functional and optimized for performance.
      </p>

      <p>
        I believe that every business deserves a strong online presence, and I’m
        committed to helping my clients achieve that. Whether you need a simple
        landing page, a complex e-commerce platform, or a complete website
        redesign, I’ll work closely with you to bring your vision to life. I
        also believe I can lower the hosting costs.
      </p>

      <p>
        As a sole trader, I offer a personalized service where you’ll deal
        directly with me from start to finish. This means clear communication,
        flexible solutions, and a final product that truly reflects your brand
        and meets your needs.
      </p>

      <p>Let's create something amazing together!</p>
    </div>
  </Container>
</section>
